.container {
  display: flex !important;

  &.logo {
    flex-basis: 100%;
    padding-inline-start: 2rem;
    padding-bottom: 25px;
    margin-block-start: 2rem;
    margin-block-end: 1rem;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #00f1f1;

    .logo {
      color: #008080;
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
    }
  }

  &.main {
    margin-block-start: 2rem;
    margin-block-end: 1rem;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #00f1f1;
    padding-bottom: 25px;
    margin-block-end: 2rem;
  }
}