@font-face {
	font-family: "Neuropol";
	src: url("../Fonts/Neuropol-X.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Poppins-ExtraLight";
	src: url("../Fonts/Poppins-ExtraLight.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Poppins-Light";
	src: url("../Fonts/Poppins-Light.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Poppins-Regular";
	src: url("../Fonts/Poppins-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Poppins-Thin";
	src: url("../Fonts/Poppins-Thin.ttf") format("truetype");
	font-display: swap;
}