footer {
  color: $white;
  background: rgba(0,0,0,0.9);

  > .container {
    display: block !important;
  }

  a {
    color: $white;

    &:hover {
      color: $gold;
    }
  }

  .copyright {
    padding: .5rem 0;
    display: block;
    text-align: inherit;
    font-size: .9rem;
  }

  .col-8 {
    .justify-content-end {
      text-align: end;
    }
  }

  .nav-item {
    margin-right: .5rem;
    margin-left: .5rem;
    padding-right: 0;
    padding-left: 0;
    text-transform: uppercase;

    &.active a {
      color: $gold;
      text-decoration: underline;
    }

    .nav-link {
      padding: .5rem 0;
    }
  }

  #back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 10px;

    &.btn-primary {
      background-color: $gold;
      border-color: $gold;
      line-height: initial;
      padding: 10px 12px;
      border-radius: 2.3rem;
      width: 55px;
      height: 55px;
      z-index: 999999;

      &:focus {
        box-shadow: none;
      }
    }
  }
}