body {
  background-color: $sand !important;
  font-family: 'Poppins-ExtraLight', sans-serif !important;
  color: $textcolor;
  font-size: 0.9rem;
  line-height: 1.75;
  padding-top: 5rem;

  .col-1 {
    width: 8.333333333333333%;
  }

  .col-2 {
    width: 16.66666666666667%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.333333333333333%;
  }

  .col-5 {
    width: 41.66666666666667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.333333333333333%;
  }

  .col-8 {
    width: 66.66666666666666%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 95% !important;
  }

  @media (min-width: 768px) {
    .col-10 {
      width: 83.333333333333333%;
    }
  }

  .col-11 {
    width: 91.66666666666666%;
  }

  .col-12 {
    width: 100%;
  }

  .text-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
  }
}

.col-10 {
  max-width: 95% !important;
}

@media (min-width: 768px) {
  .col-10 {
    max-width: 83.333333333333333%;
  }
}