main {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #333;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;

  h1 {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  h2, h3, h4, h5, h6 {
    color: #059F9C;
  }

  p {
    line-height: 1.6;
  }

  a {
    &:link, &:visited {
      color: #336263 !important;
      span {
        color: #336263 !important;
      }
    }

    &:hover, &:active {
      color: #54f2ff !important;
      span {
        color: #54f2ff !important;
      }
    }
  }

  .ce-gallery {
    figcaption {
      padding-top: 1rem;
    }

    .image-embed-item {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 768px) {
  main {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}