main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #333;
  margin: 0 auto;

  .pl-5, .px-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @media (min-width: 768px) {
    .pl-5, .px-5 {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
  }

  h1 {
    font-weight: normal;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  h2, h3, h4, h5, h6 {
    font-weight: normal;
    position: relative;

    &:before {
      border-top: 3px solid $gold;
      content: '';
      position: absolute;
      top: calc(50%);
      left: -2030px;
      width: 2000px;
    }
  }

  p {
    line-height: 1.6;
  }

  .ce-bodytext, .ce-text {
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    &:link, &:visited {
      color: $gold !important;
      span {
        color: $gold !important;
      }
    }

    &:hover, &:active {
      color: $gold !important;
      span {
        color: $gold !important;
      }
    }
  }

  > .frame >.container {
    position: relative;

    &:after {
      content: "";
      width: 260px;
      height: 150px;
      background: url('https://wmc.ddev.site/fileadmin/Schmuckbilder/muster.svg') no-repeat;
      top: 50px;
      right: -225px;
      position: absolute;
      display: inline-block;
    }

    @media (min-width: 768px) {
      &:after {
        top: 49px;
        right: -196px;
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}