main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #333;
  margin: auto;
  width: 100%;

  h1 {
    font-weight: normal;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  h2, h3, h4, h5, h6 {
    font-weight: normal;
    position: relative;

    &:before {
      border-top: 3px solid #bca15b;
      content: '';
      position: absolute;
      top: calc(50%);
      left: -2030px;
      width: 2000px;
    }
  }

  p {
    line-height: 1.6;
  }

  a {
    &:link, &:visited {
      color: #bca15b !important;
      span {
        color: #bca15b !important;
      }
    }

    &:hover, &:active {
      color: #bca15b !important;
      span {
        color: #bca15b !important;
      }
    }
  }

  .frame-default:nth-of-type(1) {
    position: relative;

    &:after {
      content: "";
      width: 260px;
      height: 150px;
      background: url('https://wmc.ddev.site/fileadmin/Schmuckbilder/muster.svg') no-repeat;
      top: 10px;
      right: -145px;
      position: absolute;
      display: inline-block;
      z-index: -99999;
    }
  }
}

@media (min-width: 768px) {
  main {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}