.copyright {
  display: table-caption;
  caption-side: bottom;
  text-align: right;
  font-size: smaller;
  padding-top: 0.5rem;
}

.image-caption {
  margin-top: 10px;
}

.ce-gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: visible;

  .ce-row {
    display: flex;
    gap: 1rem;
    overflow: visible;

    .ce-column {
      display: flex;
      flex-direction: row;
      margin: 0;

      figure.image img {
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .ce-column {
    width: inherit;
  }
}