nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-weight: lighter;

  &.navbar-expand-md {
    align-items: center;
    justify-content: center;

    .navbar-toggler {
      width: auto;
      padding: 0;
      display: block;
      position: absolute;
      top: 2rem;
      right: 2rem;
      background-color: transparent;
      border: none;

      .navbar-toggler-text {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
      }
    }

    .navbar-collapse.show {
      width: auto;
      padding: 0;
      display: block;
      position: absolute;
      top: 6rem;
      text-align: right;
      background-color: #fff;
      z-index: 999;
    }
  }

  #mainmenu {
    font-size: 30px;

    .navbar-nav {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2em;

      .nav-item {
        list-style-type: none;
        font-size: 23px;

        &.dropdown {
          .dropdown-menu {
            display: none;
            font-size: 20px;
          }

          &.active {
            .dropdown-menu {
              display: block;
            }
          }
        }

        .nav-link {
          color: #bca15b;
          text-decoration: none;

          &:hover {
            color: #fff;
          }
        }

        &.active {
          .nav-link {
            color: #bca15b;
          }
        }
      }
    }
  }

  .collapse:not(.show) {
    display: none;
  }

}


@media (min-width: 768px) {
  nav.navbar-expand-md {
    display: flex;
    position: initial;
    padding-inline-end: 1rem;

    .navbar-toggler {
      display: none;
    }

    .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;

      .navbar-nav {
        border-color: transparent !important;
      }
    }
  }
}