.wb-navbar-transparent {
  background: rgba(0,0,0,0.7);

  &.fixed-top {

    &.scrolled {
      background: rgba(0,0,0,0.9);
    }
  }
}

.navbar-brand {
  img {
    width: 150px;
    height: auto
  }
}

.navbar-toggler {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  color: $white;
  text-transform: uppercase;
  padding: .4rem .75rem;

  .navbar-toggler-icon {
    width: auto;
    height: auto;
  }

  .navbar-toggler-text {
    vertical-align: middle;
    display: inline-block;
    font-size: 20px;
    color: $gold;
  }
}

#mainmenu {
  justify-content: end;
  text-align: end;
  padding-top: 20px;
  font-size: 20px;

  .navbar-nav {
    gap: 1rem;
    align-items: center;
  }

  .nav-link {
    color: $sand;
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 1rem;

    &:hover, &.active {
      right: 0;
      text-decoration: none;
      color: $sand;

      &:after {
        right: 0;
        border-color: $gold;
      }
    }

    &:after {
      border-radius: 1em;
      border-top: .1em solid $gold;
      content: "";
      position: absolute;
      right: 100%;
      bottom: .14em;
      left: 0;
      transition: right .4s cubic-bezier(0,.5,0,1), border-color .4s ease-out;
    }
  }
}

@media (min-width: 768px) {
  #mainmenu {
    padding-top: 0;

    .navbar-nav {
      gap: 3rem;
      align-items: end;
    }
  }

  .navbar-expand-md .navbar-nav .nav-link {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

